@charset "UTF-8";


html, body {
  margin: 0;
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: auto;
}
*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  display: grid;
  padding: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill minmax(500px, 1fr));
  grid-template-rows: 25% 100px auto;
  grid-gap: 10px;
}

.uno{
  grid-area: 1 / 3 / 3 / 4 ;
}

h1{
text-align: center;
font-size: 6em;
padding-top: 500px;
padding-bottom: 0px;
font-family: 'Fjalla One', sans-serif;
color: #dddddd;
}

p{
  text-align: center;
  font-size: 2em;
  color: #dddddd;
  font-family: 'Rokkitt', serif;
}


@-ms-viewport {
    width: device-width;
}
@media (min-width: 768px) and (max-width:1024px) {
  h1{
    font-size: 5em;
    padding-top: 450px;
    color: #dddddd;
    }
}
  
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  body {
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: auto;  
  }
  h1{
    text-align: center;
    font-size: 5em;
    padding-top: 350px;
    padding-bottom: 0px;
    font-family: 'Fjalla One', sans-serif;
    color: #ffffff;
    }
 }
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: auto; 
  }
    
  h1{
  text-align: center;
  font-size: 3em;
  padding-top: 200px;
  padding-bottom: 0px;
  font-family: 'Fjalla One', sans-serif;
  color: #ffffff;
  }
  
  p{
    text-align: center;
    font-size: 1em;
    color: #dddddd;
    font-family: 'Rokkitt', serif;
  }
}